#dashboard {
    width: 100%;
    color: white;

    position: relative;

    font-family: NexaBold;
}

.wakeup-box-shadow {
    box-shadow:
        0 0 0 2px white,
        0 0 0 5px black;

    background: black;
    color: white;
}

.dash-block {
    background: black;
    color: white;

}
