#dashboard {
    width: 100%;
    color: white;

    position: relative;

    font-family: NexaBold;
}


.wakeup-box-shadow {
    box-shadow:
        0 0 0 2px white,
        0 0 0 5px black;

    background: black;
}

.title {
    width:100%;

    font-family: Franchise;
    font-size: 3em;

    padding-top: 13px;
    padding-bottom: 10px;
}

.inline {
    float:left;
}

#settings {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#settings img {
    width: 30px;
}

/*####################### Dash-Board HEAD #######################*/

#dash-head {
    width: 95.5%;
    min-width: 1220px;
    height: 290px;

    margin: auto auto;

    margin-top: 50px;

    position: relative;
}

/* Dash Profile */

#dash-profile {
    width: 25%;
    height: 100%;

    text-align: center;
}

#profile-picture {
    height: 160px;
    width: 160px;

    margin-top: 5px;

    border: 3px solid;
    background-color: black;
    color: black;
}

#aura-points {
    margin-top:15px;
}

#dash-stats {
    width: 50%;
    height: 100%;
    text-align: center;
    position: relative;
}

#global-stats {
    width: 200px;

    margin-left: 80px;
    margin-top: 30px;
}

#global-stats * {
    text-align: right;
    padding: 5px 5px 5px 5px;
}
#global-stats td:first-child {
    text-align: left;
}

#chart {
    height: 200px;
    width: 400px;

    position: absolute;
    bottom: 20px;
    right: 0px;
}

#dash-settings {
    width: 25%;
    text-align: center;
    position: relative;
}

#dash-time {

    padding: 40px 10px 10px 40px;
    text-align: left;
    height: 110px;



    font-family: Ostrich;
    font-size: 7em;
}

#dash-alarm {
    font-family: Ostrich;
    font-size: 3.3em;

    padding: 0px 5px 0px 10px;
}

#public-dash-alarm {
    font-family: Ostrich;
    font-size: 3.3em;

    text-align: center;
    width: 100%;
}

#dash-alarm-time {
    font-family: Ostrich;
    font-size: 3.3em;
    width: 80px;
    height: 40px;

    margin-top: 0px;
}

#switch {
    border: solid black;
    margin-top: 0px;
    margin-left: 20px;
    width: 60px;
}

#dash-interests {
    text-align: left;
    padding-top: 10px;
    clear: both;
}

.unactive {
    color: #696969;
}


.alarm-tooltip:hover:after{
    bottom: 80px;
    margin-left: 100px;
    width: 120px;
    background-color: white;
    color: black;
}



/*####################### PUBLIC #######################*/
#add-contact {
    clear: both;
    padding-top:20px;
}
#add-contact-button {
    font-size: 1.2em;
}
#contact-pending {
    font-size: 1.3em;
    color: gray;
}




/*####################### Dash-Board Body #######################*/

#dash-body {
    margin-top: 30px;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
}

.dash-block {
    height: 500px;
    text-align: center;
    float: left;

    background: black;
}

#contacts {
    width: 25%;
    min-width: 320px;
}

/* Contacts */
.contact {
    height: 80px;
}
.contact-img {
    width:25%;
    float:left;
}
.contact-img img {
    width:40px;

    border: solid black;
}
#vactrack-buttons {
    height: 50px;
}
#vactrack-buttons a{
    font-size: 1em;
    height: 10px;
    width: 95px;
    border: solid white;
    color: white;
}



/* Recordings */

#recordings {
    width: 42%;
    min-width: 540px;
    margin-left: 20px;
}

#recordings-box {
    height: 400px;
    overflow: scroll;
}

.recording {
    padding: 20px 20px 50px 20px;
}

.recording-img {
    width: 60px;
    border: 3px solid;
    background-color: black;
    color: black;
}

.recording-audio-section {
    width: 83%;

    padding-left: 10px;
}

.recording-info {
    padding: 10px 10px 30px 10px;
}
.recording-username {
    float:left;
}
.recording-privacy {
    float: right;
}
.recording-publish {
    float: right;
}

.btn_publish {
    font-family: NexaBold;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #3866a3;
    padding:3px 18px;
    text-decoration:none;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #63b8ee), color-stop(100%, #468ccf) );
    background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
    background:-ms-linear-gradient( top, #63b8ee 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color:#63b8ee;
    color:#14396a;
    border: 0;
    outline:0 none !important;
    outline:none;
    display:inline-block;
}.btn_publish:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #468ccf), color-stop(100%, #63b8ee) );
     background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
     background:-ms-linear-gradient( top, #468ccf 5%, #63b8ee 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
     border: 0;
     outline:none;
     outline:0 none !important;
     background-color:#468ccf;
 }.btn_publish:active {
      position:relative;
      border: none;
      outline:none;
       outline:0 none !important;
      border: 0;
      top:1px;
  }


.recording-audio {
    clear:both;
    width: 100%;
}

.recording-data {
    clear: both;
    width: 100%;
    padding: 10px 0px 0px 5px;
}
.recording-data div {
    width: 30%;
    float: left;
}
.recording-data img {
    width: 30px;
}


/*####################### Comments Section #######################*/
.comments {
    width: 100%;

    padding-top: 20px;

    clear: both;
    color: white;
}
.comment {
    height: 50px;

    text-align: left;
    padding-left: 30px;

    margin-bottom: 10px;
}

.comment-img {
    width: 30px;
    border: black solid;
}

.comment-section {
    padding-left: 50px;
}

.comment-textarea {
    width: 90%;
}

.comment-content {
    padding: 5px 5px 5px 5px;
}



/* Badges */

#badges {
    width: 25%;
    min-width: 320px;
    margin-left: 20px;
}



#contacts-box {
    height: 400px;
}
#all_contacts {
    overflow: scroll;
    position:relative;
    padding-top:10px;
    height:350px;
}

/*Profile Left*/

#recordings {

}

.ondisplay{
  text-align:center;
  border-bottom:1px solid gray;
  padding:20px 0;
}

.ondisplay section{
  width:100px;
  height:100px;
  background: #555;
  display:inline-block;
  border: 1px solid gray;
  text-align: center;
  margin-top:5px;
  border-radius:5px;
  box-shadow: 0 1px 4px
     rgba(0, 0, 0, 0.3), 0 0 40px
     rgba(0, 0, 0, 0.1) inset;
}

.ondisplay section::before {
  content:'click it'; 
  color: #bbb;
	font: 15px Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0px 1px black;
}

input[type=checkbox] {
	visibility: hidden;
}

/* SQUARED TWO */
.squaredTwo {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.squaredTwo label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}



