#dashboard {
    width: 100%;
    color: white;

    position: relative;

    font-family: NexaBold;
}


.wakeup-box-shadow {
    box-shadow:
        0 0 0 2px white,
        0 0 0 5px black;

    background: black;
}

.title {
    width:100%;

    font-family: Franchise;
    font-size: 3em;

    padding-top: 13px;
    padding-bottom: 10px;
}

.inline {
    float:left;
}


/*####################### Dash-Board HEAD #######################*/

#dash-head {
    width: 95.5%;
    height: 290px;

    margin: auto auto;

    margin-top: 50px;

    position: relative;
}

/* Dash Profile */

#dash-profile {
    width: 25%;
    height: 100%;

    text-align: center;
}

#profile-picture {
    height: 160px;
    width: 160px;

    margin-top: 5px;

    border: 3px solid;
    background-color: black;
    color: black;
}

#aura-points {
    margin-top:15px;
}

#dash-stats {
    width: 50%;
    height: 100%;
    text-align: center;
    position: relative;
}

#global-stats {
    width: 200px;

    margin-left: 80px;
    margin-top: 30px;
}

#global-stats * {
    text-align: right;
    padding: 5px 5px 5px 5px;
}
#global-stats td:first-child {
    text-align: left;
}

#chart {
    height: 200px;
    width: 400px;

    position: absolute;
    bottom: 20px;
    right: 0px;
}

#dash-settings {
    width: 25%;
    text-align: center;
    position: relative;
}

#dash-time {
    width:100%;

    padding: 30px 10px 10px 25px;
    text-align: left;


    font-family: Ostrich;
    font-size: 7em;
}

#dash-alarm {
    font-family: Ostrich;
    font-size: 4.3em;

    padding-top: 20px;
}






/*####################### Dash-Board Body #######################*/

#dash-body {
    margin-top: 30px;
}

.dash-block {
    height: 500px;
    text-align: center;
    float: left;

    background: black;
}

#contacts {
    width: 25%;
    margin-left: 30px;
}

/* Contacts */
.contact {
    height: 80px;
}
.contact-img {
    width:25%;
    float:left;
}
.contact-img img {
    width:40px;

    border: solid black;
}



/* Recordings */

#recordings {
    width: 42%;
    margin-left: 20px;
}

#recordings-box {
    height: 400px;
    overflow: scroll;
}

.recording {
    padding: 20px 20px 50px 20px;
}

.recording-img {
    width: 55px;
    border: 3px solid;
    background-color: black;
    color: black;
}

.recording-audio-section {
    width: 85%;

    padding-left: 10px;
}

.recording-info {
    padding: 10px 10px 30px 10px;
}
.recording-username {
    float:left;
}
.recording-privacy {
    float: right;
}
.recording-publish {
    float: right;
}


.recording-audio {
    clear:both;
    width: 100%;
}

.recording-data {
    clear: both;
    width: 100%;
    padding: 10px 0px 0px 5px;
}
.recording-data div {
    width: 30%;
    float: left;
}
.recording-data img {
    width: 30px;
}

.comments-section {
    width: 100%;
    height: 50px;
}

.comment-textarea {
    width: 100%;
}



/* Badges */

#badges {
    width: 25%;
    margin-left: 20px;
}



#contacts-box {
    height: 400px;
}

/*Profile Left*/

#recordings {

}





