#evening-feed {
    width: 100%;
    position: relative;
    clear: both;
}

#evening-content {
    width: 850px;
    height: 590px;
    position: relative;

    margin-left: 40px;
    margin-top: 60px;

}

#call-history {
    position: fixed;
    left: 900px;
    height: 590px;
    top: 60px;
}

.evening-roulette-title {
    text-align: center;
    font-size: 3.5em;
    font-family: Franchise;
    padding-top: 20px;
    margin-bottom: 20px;
}

.switch {
    width: 60px;
    float: left;
}
.evening-info {
    width: 120px;
    float: left
}

.evening-block {
    clear: both;
}

.inline {
    float: left;
}

#evening-container {
    width: 100%;
}

#evening-info {
    height: 500px;
    margin-top: 10px;
    float: left;
    width: 50%;
    font-size: 1.1em;
    font-family: nexabold;

}
#evening-time {
    font-family: Ostrich;
    font-size: 6em;
    margin-top: 20px;
    margin-bottom: 20px;
}




#evening-evenings {
    float: left;
    height: 450px;
    margin-top: 10px;
    width: 44%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px 20px 20px 20px;
}

#tutorial {
    position: absolute;
    top: 10px;
    left: 10px;
}
#tutorial:hover.tooltip:hover:after {
    bottom: -50px;
}
#tutorial img {
    width: 30px
}

/*   Evening component   */
.evening-block {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 70px;
    border-radius: 10px;

    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
.evening-block:hover {
    background: black;
    color: white;
}
.switch {
    margin-top: 20px;
    margin-left: 20px;
}
.evening-components {
    background: transparent;
    margin-top: 20px;
    font-size: 1.2em;
}
.evening-component-title {
    font-family: geosans;
    margin-left: 5px;
    float: left;
}
.evening-component-time {
    font-family: geosans;
    margin-left: 5px;
    float: left;
    width: 100px
}
.evening-component-active {
    font-family: geosans;
    float: left;
    width: 50px;
    text-align: center;
}

#evening-info-description {
    color: white;
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
    width: 400px;
    margin-left: 20px;
    border-radius: 10px;

    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
    postition: relative;
}
#evening-info-description div {
    background: black;
    padding: 50px 50px 50px 50px;
    color: white;
    border-radius: 10px;
    position: absolute;
    left: 135px;
    top: 350px;

    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
    postition: relative;
}
#evening-info-description a {
    color: white;
}

#evening-info-description:hover {
    background: black;
}
#evening-info-description:hover a {
    color: #87ceeb;
}
#evening-info-description:hover div {
    color: transparent;
    background: transparent;
}