html {
    padding: 0px 0px 10px;
}

#main-feed {
    width: 100%;
    color: black;
    padding-top: 30px;

    position: relative;

    font-family: NexaBold;
}


.wakeup-box-shadow {
    box-shadow:
        0 0 0 2px black,
        0 0 0 5px white;

    background: black;
}

.title {
    width:100%;

    font-family: Franchise;
    font-size: 3em;

    padding-top: 13px;
    padding-bottom: 10px;
}

.inline {
    float:left;
}

#settings {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#settings img {
    width: 30px;
}

/*####################### Dash-Board HEAD #######################*/

#dash-head {
    width: 95.5%;
    min-width: 1220px;
    height: 290px;

    margin: auto auto;

    margin-top: 50px;

    position: relative;
}

/* Dash Profile */

#dash-profile {
    width: 25%;
    height: 100%;

    text-align: center;
}

#profile-picture {
    height: 160px;
    width: 160px;

    margin-top: 5px;

    border: 3px solid;
    background-color: black;
    color: black;
}

#aura-points {
    margin-top:15px;
}

#dash-stats {
    width: 50%;
    height: 100%;
    text-align: center;
    position: relative;
}

#global-stats {
    width: 200px;

    margin-left: 80px;
    margin-top: 30px;
}

#global-stats * {
    text-align: right;
    padding: 5px 5px 5px 5px;
}
#global-stats td:first-child {
    text-align: left;
}

#chart {
    height: 200px;
    width: 400px;

    position: absolute;
    bottom: 20px;
    right: 0px;
}

#dash-settings {
    width: 25%;
    text-align: center;
    position: relative;
}

#dash-time {

    padding: 40px 10px 10px 40px;
    text-align: left;
    height: 110px;



    font-family: Ostrich;
    font-size: 7em;
}

#dash-alarm {
    font-family: Ostrich;
    font-size: 3.3em;

    padding: 0px 5px 0px 10px;
}

#public-dash-alarm {
    font-family: Ostrich;
    font-size: 3.3em;

    text-align: center;
    width: 100%;
}

#dash-alarm-time {
    font-family: Ostrich;
    font-size: 3.3em;
    width: 80px;
    height: 40px;

    margin-top: 0px;
}

#switch {
    border: solid black;
    margin-top: 0px;
    margin-left: 20px;
    width: 60px;
}

#dash-interests {
    text-align: left;
    padding-top: 10px;
    clear: both;
}

.unactive {
    color: #696969;
}


.alarm-tooltip:hover:after{
    bottom: 80px;
    margin-left: 100px;
    width: 120px;
    background-color: white;
    color: black;
}



/*####################### PUBLIC #######################*/
#add-contact {
    clear: both;
    padding-top:20px;
}
#add-contact-button {
    font-size: 1.2em;
}
#contact-pending {
    font-size: 1.3em;
    color: gray;
}




/*####################### Dash-Board Body #######################*/

#dash-body {
    margin-top: 30px;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
}

.dash-block {
    text-align: center;
    float: left;

    background: white;
}

#contacts {
    width: 25%;
    min-width: 320px;
}

/* Contacts */
.contact {
    height: 80px;
}
.contact-img {
    width:25%;
    float:left;
}
.contact-img img {
    width:40px;

    border: solid black;
}
#vactrack-buttons {
    height: 50px;
}
#vactrack-buttons a{
    font-size: 1em;
    height: 10px;
    width: 95px;
    border: solid white;
    color: white;
}



/* WakeUp Diary */

#main-feed-content {
    width: 42%;
    min-width: 830px;
    margin-left: 20px;
}

#main-feed-content-box {
    padding: 0px 20px 0px 20px;
}


.recording {
    padding: 20px 5px 50px 5px;
}

.recording-img {
    width: 60px;
    margin-left: 20px;
    margin-top: -20px;
    border: 3px solid;
    background-color: black;
    color: black;
}

.recording-audio-section {
    width: 85%;

    padding-left: 10px;
}



.shared-recording {
    padding: 20px 5px 50px 5px;
}
.shared-recording-audio {
    clear:both;
    width: 100%;
}

.share-info {
    padding: 10px 10px 30px 10px;
}
.share-username {
    float:left;
    padding-left: 20px;
}
.share-privacy {
    float: right;
}
.share-body {
    float: right;
    margin-right: 40px;
    padding: 10px 10px 10px 10px;
    text-align: left;
    font-family: Calibri;
    width: 600px;
}
#no-shares {
    padding: 0px 0px 0px 0px;
}
#no-shares p{
    font-size: 1.5em;
}

.share-data {
    clear: both;
    width: 100%;
    padding: 10px 0px 0px 5px;
}
.share-data div {
    width: 33.3%;
    float: left;
}
.share-data img {
    width: 33.3px;
}



/*####################### Comments Section #######################*/
.comments {
    width: 100%;

    padding-top: 20px;

    clear: both;
    color: white;
}
.comment {
    height: 50px;

    text-align: left;
    padding-left: 30px;

    margin-bottom: 10px;
}

.comment-img {
    width: 30px;
    border: black solid;
}

.comment-section {
    padding-left: 50px;
}

.comment-textarea {
    width: 90%;
}

.comment-content {
    padding: 5px 5px 5px 5px;
}


/*####################### MODAL SHARE #######################*/
/*####################### MODAL SHARE #######################*/
/*####################### MODAL SHARE #######################*/
/*####################### MODAL SHARE #######################*/
/*####################### MODAL SHARE #######################*/

#share-modal-audio {
    width: 100%;
}
#share-modal-text {
    width: 100%;
    height: 50px;
}
.share-btn {
    width: 46.5%;
    height: 20px;
    float:left;
    border-radius: 0;
    background: #eee;
    border: solid transparent;
    position: relative;
}
.share-btn:hover {
    background: black;
    border: solid transparent;
}
.share-btn.checked {
    background: black;
    border: solid white;
}
.share-btn:hover > .facebook-logo {
    background-color: white;
}
.share-btn.checked > .facebook-logo {
    background-color: white;
}
.share-btn.checked > .facebook-logo:before {
    position: absolute;
    border: 15px solid #000;
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 15px;
    width: 15px;
    height: 65px;
    content: "";
}
.share-btn.checked > .facebook-logo:after {
    position: absolute;
    top: 44px;
    left: 43px;
    height: 15px;
    width: 42px;
    background-color: #000;
    content: "";
}

.share-btn:hover > .facebook-logo:before {
    position: absolute;
    border: 15px solid #000;
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 15px;
    width: 15px;
    height: 65px;
    content: "";
}
.share-btn:hover > .facebook-logo:after {
    position: absolute;
    top: 44px;
    left: 43px;
    height: 15px;
    width: 42px;
    background-color: #000;
    content: "";
}

.facebook-logo {
    margin: auto auto;
    bottom: -30px;
    right: 80px;

    width: 100px;
    height: 100px;
    border-radius: 15px;
    background-color: black;
    position: absolute;

    transform: scale(.3,.3);
    -ms-transform: scale(.3,.3); /* IE 9 */
    -webkit-transform: scale(.3,.3); /* Safari and Chrome */

    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
.facebook-logo:before {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 15px solid #fff;
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 15px;
    width: 15px;
    height: 65px;
    content: "";
}
.facebook-logo:after {
    position: absolute;
    top: 44px;
    left: 43px;
    height: 15px;
    width: 42px;
    background-color: #fff;
    content: "";
}

#twitter-share-btn {
    position: relative;
    width: 30px;
    margin-top: -15px;
    margin-left: 40%;
}
.twitter {
    position: absolute;
    font-size: 20px;
    height: 2em;
    width: 2em;
    background: #2C2C2C;
    display: block;
    border-radius: 0.3em;

    transform: scale(.9,.9);
    -ms-transform: scale(.9,.9); /* IE 9 */
    -webkit-transform: scale(.9,.9); /* Safari and Chrome */

    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.twitter-logo:before {
    left: 0.55em;
    top: 0.4em;
    position: absolute;
    display: block;
    content: "";
    height: 1.2em;
    width: 0.32em;
    background: #fff;
    border-radius: 0.5em 0.5em 0 0.9em;
    box-shadow: 0 0 0 0.15em #000;
}
.twitter-logo:after {
    left: 0.87em;
    top: 1.143333em;
    position: absolute;
    display: block;
    content: "";
    height: 0.32em;
    width: 0.62em;
    background: #fff;
    border-radius: 0 0.4em 0.4em 0;
    box-shadow: 0 -0.57em 0 -0.15em #fff,-0.2em -0.57em 0 -0.15em #fff,0 -0.57em 0 0em #000;
    border: 0.15em solid #000;
    border-left: 0;
}

#twitter-share-a-ref {
    float: right;
}


#submit-share-btn {
    float: right;
}

