#dashboard {
    width: 100%;
    color: black;

    position: relative;

    font-family: NexaBold;
}

.wakeup-box-shadow {
    box-shadow:
        0 0 0 2px black,
        0 0 0 5px white;

    background: white;
}

.dash-block {
    background: white;
}