<div idx="{{ rec.pk }}" class="history-recording recording">
    <div class="inline recording-audio-section">
        <div class="recording-info">
            {% for call in rec.call_set.all %}
                {% if call.user != request.user %}
                    <a href="/accounts/public/{{ call.user.username }}/">
                        <img class="inline wakeup-box-shadow recording-img" src="{{ call.user.profile.img_url }}">
                        <div class="recording-username">{{ call.user.profile.get_full_name_or_username |title }}</div>
                    </a>
                {% endif %}
            {% endfor %}

            <div class="recording-privacy-box">
                {% if rec.privacy == 'P' %}
                    <a data-reveal-id="share-modal" class="recording-share btn_publish">Add to Diary</a>
                {% else %}
                    <span class="recording-privacy">[Secret]</span>
                {% endif %}
            </div>
        </div>
        <audio controls class="recording-audio"  class="inline" data-played="0">
            <source class="recording-source" src="{{ rec.recordingurl }}" type="audio/x-wav">
            Please use a Chrome or Firefox to listen to your recordings
        </audio>
    </div>
    <div class="recording-data">
        <div title="Aura" class="tooltip aura-button"><img src="/media/icons/like-black.png"/><span>{{ rec.rating }}</span></div>
        <div title="Re-wakes" class="tooltip rewakes-button"><img src="/media/icons/rewakeup-black.png"/><span>{{ rec.shares }}</span></div>
        <div title="Play Count" class="tooltip play-count"><img src="/media/icons/views-black.png"/><span>{{ rec.plays }}</span></div>
    </div>
</div>