<div idx="{{ share.pk }}" class="shared-recording recording">
    {% load wakeup_tags %}
    <a href="/accounts/public/{{ share.user.username }}/">
        <img class="inline wakeup-box-shadow recording-img" src="{{ share.user.profile.img_url }}">
    </a>
    <a class="share-username" href="/accounts/public/{{ share.user.username }}/">
        {{ share.user.profile.get_full_name_or_username |title }}
    </a>
    <div class="share-body">
        {{ share.body }}
    </div>
    <audio controls class="shared-recording-audio"  class="inline" data-played="0">
        <source src="{{ share.call.recording.recordingurl }}" type="audio/x-wav">
        Please use a Chrome or Firefox to listen to your recordings
    </audio>
    <div class="share-data">
        {% if request.user.profile.white %}
            <div title="Aura" class="tooltip share-aura-button">
                {% liked share as already_liked %}
                <img {% if already_liked %} src="/media/icons/like-black.png" {% else %} src="/media/icons/like-active.png" {% endif %}/><span>{{ share.rating }}</span></div>
            <div title="Re-wakes" class="tooltip share-rewake-button"><img src="/media/icons/rewakeup-black.png"/>{{ share.shares }}</div>
            <div title="Play Count" class="tooltip play-count"><img src="/media/icons/views-black.png"/><span>{{ share.call.recording.plays }}</span></div>
        {% else %}
            <div title="Aura" class="tooltip share-aura-button">
                {% liked share as already_liked %}
                <img {% if already_liked %} src="/media/icons/like-white.png" {% else %} src="/media/icons/like-active.png" {% endif %}/><span>{{ share.rating }}</span></div>
            <div title="Re-wakes" class="tooltip share-rewake-button"><img src="/media/icons/rewakeup-white.png"/>{{ share.shares }}</div>
            <div title="Play Count" class="tooltip play-count"><img src="/media/icons/views-white.png"/><span>{{ share.call.recording.plays }}</span></div>
        {% endif %}
    </div>
    <div class="comments">
        <div id="comments-section">
            {% for comment in share.recordingcomment_set.all %}
                {% include 'layouts/comment.html' with comment=comment %}
            {% endfor %}
        </div>
        <textarea placeholder="Write a comment..." class="comment-textarea"></textarea>
    </div>
</div>