{% with requestor=request.user %}
	<div class="request" data-request_id="{{ request.id }}">
		<div style="width:25%;float:left;">
			<a href="/accounts/public/{{ requestor.username }}/"><img  style="width:50px;" class="wakeup-box-shadow" src="{{ requestor.profile.img_url }}"></a>
		</div>
		<div style="width:75%;float:left;text-align:left;">
			<p style="margin-top:0px;"><a href="/accounts/public/{{ requestor.username }}/">{{ requestor.profile.get_full_name_or_username }}</a></p>
			<p><button class="accept_request">Accept</button><button class="ignore_request">Ignore</button></p>
		</div>
	</div>
{% endwith %}