{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{{ name }}{% endblock %}

{% block content %}

    <link rel="Stylesheet" media="screen" href="/media/timepicker/ui.core.css">
    <link rel="Stylesheet" media="screen" href="/media/timepicker/ui.timepicker.css">
    <link rel="Stylesheet" media="screen" href="/media/css/switch.css">

    <script type="text/javascript" src="/media/timepicker/jquery.js"></script>
    <script type="text/javascript" src="/media/timepicker/jquery.utils.js"></script>
    <script type="text/javascript" src="/media/timepicker/jquery.strings.js"></script>
    <script type="text/javascript" src="/media/timepicker/jquery.anchorHandler.js"></script>
    <script type="text/javascript" src="/media/timepicker/jquery.ui.all.js"></script>
    <script type="text/javascript" src="/media/timepicker/ui.timepickr.js"></script>

    <script type="text/javascript">
        $(function(){
            $('#demo-1').timepickr().focus();
            $('#demo-1').next().find('ol').show().find('li:eq(2)').mouseover();
            // temporary fix..
            $('.ui-timepickr ol:eq(0) li:first').mouseover();

            $('input[type="checkbox"]').click(function() {
                $('#demo').toggle( "slow", function() {
                    // Animation complete.
                });
                $('d-demo-wrapper-1').toggle( "slow", function() {
                    // Animation complete.
                });
            });
        });
    </script>

    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>{{ name }}</legend>

            <div id="splash">
                <p>Unfortunately our service is not on yet, but we will keep you updated when we release it!</p>

                <div style="position: absolute; width: 170px; top: 10px" id="switch">
                    <input type="checkbox" name="alarmon" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <div class="onoffswitch-inner">
                            <div class="onoffswitch-active"><div class="onoffswitch-switch">ON</div></div>
                            <div class="onoffswitch-inactive"><div class="onoffswitch-switch">OFF</div></div>
                        </div>
                    </label>
                </div>

                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
                <div style="padding-top: 10px; height: 200px;" id="demo">
                    <div  id="d-demo-wrapper-1" class="demo-wrapper">
                        <input id="demo-1" name="alarm" type="text" value="" class="demo">
                    </div>
                </div>
            </div>

        </fieldset>
        <input type="submit" value="{% trans "Wake Me Up" %}" />
        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    </form>
{% endblock %}
