{% extends 'userena/base_userena.html' %}

{% block content %}

    <link rel="Stylesheet" media="screen" href="/media/css/switch.css">
    <link rel="Stylesheet" media="screen" href="/media/css/dashboard.css">

    <script>
        $(function() {


            function startCountDown()
            {
                var now = new Date();
                var next = new Date();
                if (now.getHours() > 19)
                    next.setDate(next.getDate()+1);

                next.setHours(20);
                next.setMinutes(0);
                next.setSeconds(0);
                next.setMilliseconds(0);

                var dist = next.getTime() - now.getTime();

                var s = Math.floor((dist / 1000) % 60);
                var m = Math.floor((dist / (1000*60)) % 60);
                var h = Math.floor((dist / (1000*60*60)) % 24);

                h=checkTime(h);
                m=checkTime(m);
                s=checkTime(s);

                $('#daytime-time').text(h+":"+m+":"+s);
                t=setTimeout(function(){startCountDown()},500);
            }

            function checkTime(i)
            {
                if (i<10)
                {
                    i="0" + i;
                }
                return i;
            }

            startCountDown();


            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('#daytime-switch').bind('click', function(e) {
                if(e.target.innerHTML == "") {
                    var checked = $('#myonoffswitch').is(':checked');
                    var alarm_time = "20:00:00";

                    console.log(checked);
                    console.log($('#dash-alarm').attr("data-set_alarm"));

                    $.ajax({
                        url: $('#dash-alarm').attr("data-set_alarm"),
                        dataType: "json",
                        type: "POST",
                        data: {
                            onoff: checked,
                            alarm_time : alarm_time
                        },
                        success: function(res) {
                            if (!res.error) {

                            }
                        }
                    });
                }

                function connect_gender(men, women) {
                    $.ajax({
                        url: $('#dash-interests').attr("data-connect_gender_url"),
                        dataType: "json",
                        type: "POST",
                        data: {
                            men: men,
                            women: women
                        },
                        success: function(res) {

                        }
                    });
                }

                $("#connect_men").bind("click", function(e) {
                    if ($("#connect_women").prop('checked')) {
                        connect_gender(true, false);
                    }
                    else {
                        e.preventDefault();
                    }
                });

                $("#connect_women").bind("click", function(e) {
                    if ($("#connect_men").prop('checked')) {
                        connect_gender(false, true);
                    }
                    else {
                        e.preventDefault();
                    }
                });
            });

        })();

    </script>

    <style>
        #content-wrapper {
            padding-top: 0px;
            margin-top: 0px;
            width: 750px;
            height: 520px;
            padding: 30px 30px 30px 30px;
            margin-top: 60px;
            font-family: helvetica;
        }

        .title {
            text-align: center;
            font-family: Ostrich;
            font-size: 3em;
            font-weight: normal;
            margin-bottom: 0px;
        }

        #daytime-description {
            width: 49%;
            height: 600px;
            font-size: 0.6em;
            line-height: 1.2em;
            padding: 10px 10px 10px 10px
        }
        #daytime-container {
            width: 47%;
            padding-top: 20px;
        }

        .sub-title {
            font-size: 0.7em;
            text-align: center;
            clear: both;
        }
        #time-container {
            margin: auto auto;
            text-align: center;
            clear: both;
            padding-top: 15px;
        }
        #daytime-time {
            clear: both;

            font-family: Ostrich;
            margin-top: 5px;
            font-size: 4em;
        }
        #dash-alarm, #dash-alarm-time {
            display: none;
            visibility: hidden;
            clear: both;
        }
        #daytime-switch {
            margin-top: 30px;
            margin-left: 150px;
            margin-bottom: 40px;
            -webkit-transform:scale(1.5); /*Webkit:Scale down image to 0.8x original size*/
            -moz-transform:scale(1.5); /*Mozilla scale version*/
            -o-transform:scale(1.5);
        }

        #dash-interests {
            padding-top: 30px;
        }
        #daytime-connect {
            padding-left: 15px;
            font-size: .7em;
        }

        {#      FIREFOX RENDER#}
        @-moz-document url-prefix() {
            #daytime-time {
                margin-top: -20px;
            }
        }

    </style>

    <div class="content-wrapper">
        <h1 class="title">Evening Roulette</h1>
        <div id="daytime-description" class="inline">
            <p>To celebrate our beta launch, we'll have Evening WakeUp runs at <strong>20:00 every day this week!</strong></p>
            <p>You cannot miss this opportunity to have an Awesome conversation!</p>
            <p>As with the normal WakeUps, your identity and your number will be totally anonymous, as all our calls are
                connected through our central server!</p>
            <p>If you're up for it, please turn on the switch to the right!</p>

            <p>We wish you all an awesome conversation!</p>
        </div>
        <div id="daytime-container" class="inline">

            {% if request.user.is_authenticated %}
            <div class="sub-title">Are you up for it?</div>
            <div id="daytime-switch" class="inline wakeup-box-shadow" >
                <input id="myonoffswitch" type="checkbox" name="alarmon" class="onoffswitch-checkbox" checked>
                <label class="onoffswitch-label" for="myonoffswitch">
                    <div class="onoffswitch-inner">
                        <div class="onoffswitch-active"><div class="onoffswitch-switch">ON</div></div>
                        <div class="onoffswitch-inactive"><div class="onoffswitch-switch">OFF</div></div>
                    </div>
                </label>
            </div>
            <div id="dash-alarm" class="inline" data-set_alarm="{% url 'accounts.ajax.set_alarm' %}">Alarm:</div> <div id="dash-alarm-time" class="inline">{{ request.user.profile.get_alarm_time }}</div>
            <div id="dash-interests" data-connect_gender_url="{% url 'accounts.ajax.connect_gender' %}" data-accept_request_url="{% url 'accounts.ajax.accept_request' %}" data-ignore_request_url="{% url 'accounts.ajax.ignore_request' %}">
                <div class="sub-title">Connect me with:</div>
                <div id="daytime-connect" style="margin-top:10px;margin-left:50px; ">
                    <span class="inline">Men:</span>
                    <div class="squaredTwo inline" style="position:relative;top:-25px;left:10px;margin-right:40px;">
                        <input type="checkbox" value="None" id="connect_men" name="check" {% if request.user.profile.malematch %}checked{% endif %} />
                        <label for="connect_men"></label>
                    </div>
                    <span class="inline">Women:</span>
                    <div class="squaredTwo inline" style="position:relative;top:-25px;left:10px;">
                        <input type="checkbox" value="None" id="connect_women" name="check" {% if request.user.profile.femalematch %}checked{% endif %} />
                        <label for="connect_women"></label>
                    </div>
                </div>
            </div>
            {% else %}
            <div style="margin-top:30px;" class="sub-title">Are you up for it?</div>
            <div style="margin-bottom: 100px;" id="vactrack-buttons">
                <a style="height: 23px;" class="daytime-btn" href="/accounts/signup/">SignUp</a>
                <a style="height: 23px;" class="daytime-btn" href="/accounts/signin/">Login</a>
            </div>
            {% endif %}
            <div id="time-container">
                <div class="sub-title">Next Evening Roulette in...</div>
                <div id="daytime-time"></div>
            </div>
        </div>
{% endblock %}