{% extends 'userena/base_userena.html' %}

{% block dashboard %}

    <script>
        $(function() {


            function startCountDown()
            {
                var now = new Date();

                var next = new Date(now);

                next.setHours(next.getHours() + 1);
                next.setMinutes(0);
                next.setSeconds(0);
                next.setMilliseconds(0);

                var dist = next.getTime() - now.getTime();

                var s = Math.floor((dist / 1000) % 60);
                var m = Math.floor((dist / (1000*60)) % 60);

                m=checkTime(m);
                s=checkTime(s);

                $('#evening-time').text(m+":"+s);
                t=setTimeout(function(){startCountDown()},500);
            }

            function checkTime(i)
            {
                if (i<10)
                {
                    i="0" + i;
                }
                return i;
            }

            startCountDown();

        })();

    </script>

    <link rel="Stylesheet" media="screen" href="/media/css/reveal.css">
    <link rel="stylesheet" media="screen" href="/media/css/evening.css">
    <link rel="Stylesheet" media="screen" href="/media/css/switch.css">
    <link rel="Stylesheet" media="screen" href="/media/css/callhistory.css">
    <link rel="Stylesheet" media="screen" href="/media/css/mainfeed.css">

    <script type="text/javascript" src="/media/js/reveal.js"></script>
    <script type="text/javascript" src="/media/js/shares.js"></script>
    <script type="text/javascript" src="/media/js/main.js"></script>
    <script type="text/javascript" src="/media/js/eveningroulette.js"></script>

    {% if request.user.profile.white %}
        <link rel="Stylesheet" media="screen" href="/media/css/white-template.css">
    {% else %}
        <link rel="Stylesheet" media="screen" href="/media/css/black-template.css">
    {% endif %}



    <div id="shares_info" style="display:none;" data-load_on_scroll="0" data-load_shares_url="{% url 'accounts.ajax.load_shares' %}" data-share_recording_url="{% url 'accounts.ajax.share_recording' %}" data-insert_comment="{% url 'accounts.ajax.insert_comment' %}" data-increment_share_aura_url="{% url 'accounts.ajax.increment_share_aura' %}" data-increment_rec_rewake_url="{% url 'accounts.ajax.increment_rec_rewake' %}" data-increment_rec_play_url="{% url 'accounts.ajax.increment_rec_play' %}" data-prepend_share_id=""></div>
    <div id="evening_info" style="display:none;" data-set_evening_url="{% url 'accounts.ajax.set_evening' %}"></div>

    <div id="call-history" class="dash-block wakeup-box-shadow">
        <div class="title">My Call History</div>
        <div id="call-history-box">
            {% if recordings %}
                {% for recording in recordings reversed %}
                    {% include 'layouts/recording.html' with rec=recording user=request.user %}
                {% endfor %}
            {% else %}
                <br><br>
                <h1 style="font-family: NexaBold; font-size: 1.5em; padding: 0px 20px 0px 20px;">You don't have any WakeUps Yet!</h1>
                <br><br>
                <h1 style="font-family: NexaBold; font-size: 1.5em; padding: 0px 20px 0px 20px;">Join an <a href="/evening/">#EveningRoulette</a> or set up your <a href="/accounts/dashboard/">alarm for tomorrow</a> morning to get Started!!</h1>
            {% endif %}
        </div>
    </div>

    <div id="evening-feed">
        <div id="evening-content" class="dash-block wakeup-box-shadow">
            <div class="evening-roulette-title">#EveningRoulette</div>
            <div id="evening-container" class="inline">
                <div id="evening-info" class="inline">
                    <div class="sub-title">Next Evening Roulette in...</div>
                    <div id="evening-time"></div>
                    <div class="sub-title" class="inline">Are you up for it?</div>
                </div>
                <div id="evening-evenings">
                    {% if request.user.is_authenticated %}
                        {% if request.user.messageverification.verified %}
                            {% for evening in evenings %}
                                {% include 'layouts/evenings.html' with evening=evening %}
                            {% endfor %}
                        {% else %}
                            <div style="margin-top:30px;" class="sub-title">Please verify your phone.</div>
                            <div style="margin-bottom: 100px; width: 250px;" id="vactrack-buttons">
                                <a style="width: 200px; height: 23px;" class="daytime-btn" href="/accounts/sms_verify/">Verify now</a>
                            </div>
                        {% endif %}
                    {% else %}
                        <div style="margin-top:30px;" class="sub-title">Please sign in, or sign up</div>
                        <div style="margin-bottom: 100px;" id="vactrack-buttons">
                            <a style="height: 23px;" class="daytime-btn" href="/accounts/signup/">SignUp</a>
                            <a style="height: 23px;" class="daytime-btn" href="/accounts/signin/">SignIn</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div id="share-modal" class="reveal-modal" data-share_recording_url="{% url 'accounts.ajax.share_recording' %}">
        <h1>Add WakeUp to your Diary or Share it!</h1>

        <audio idx="" controls id="share-modal-audio">
            <source id="share-modal-audio-source" src="" type="audio/x-wav">
            Please use a Chrome or Firefox to listen to your recordings
        </audio>

        <form>
            <textarea id="share-modal-text" name="sharebody" placeholder="Share your WakeUps, Thoughts, Stories, Anything!"></textarea>
            <a id="facebook-share-a-ref" class="share-btn wur-btn">
                <div class="facebook-logo"></div>
            </a>
            <a id="twitter-share-a-ref" class="share-btn wur-btn">
                <div id="twitter-share-btn"> <div class="twitter-logo"></div></div>
            </a>

            </a>
            <input id="submit-share-btn" type="button" value="Share">
        </form>
        <a class="close-reveal-modal">&#215;</a>
    </div>
{% endblock %}