{% extends 'userena/base_userena.html' %}

{% block content %}

<div class="white-box">
<h1>Thank you Very much for signing up to the WakeUpRoulette Beta!!</h1>
<p>Right now we're trying to accept as many people as we can into the beta, but you'll have to wait a little bit - we'll send you
an email as soon as we can so you can enjoy this new awesome way of waking up!!</p>
<p>Until then, please let us know your thoughts - we're more than happy to hear from you!</p>
<p>Feel free to drop us an email at wakeuproulette@gmail.com</p>
<p>We wish you an awesome day!</p>
<p><b>The WakeUpRoulette Team</b></p>
</div>
{% endblock %}