{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">{{ profile.get_full_name_or_username |title }})</h2>{% endblock %}

{% block dashboard %}

    <link rel="Stylesheet" media="screen" href="/media/css/reveal.css">
    <script type="text/javascript" src="/media/js/reveal.js"></script>


    <link rel="stylesheet" type="text/css" href="/media/css/dashboard.css">
    <link rel="Stylesheet" media="screen" href="/media/css/switch.css">
    <link rel="Stylesheet" media="screen" href="/media/css/callhistory.css">
    {% if request.user.profile.white %}
        <link rel="Stylesheet" media="screen" href="/media/css/white-template.css">
    {% else %}
        <link rel="Stylesheet" media="screen" href="/media/css/black-template.css">
    {% endif %}

    <script type="text/javascript" src="/media/js/dashboard.js"></script>
    <script type="text/javascript" src="/media/js/shares.js"></script>
    <script type="text/javascript" src="/media/js/charts.js"></script>
    <script type="text/javascript" src="/media/js/jquery.timeentry.min.js"></script>
    <script type="text/javascript" src="/media/js/simplemodal.js"></script>

    <div id="shares_info" style="display:none;" data-load_on_scroll="0" data-share_recording_url="{% url 'accounts.ajax.share_recording' %}" data-insert_comment="{% url 'accounts.ajax.insert_comment' %}" data-increment_share_aura_url="{% url 'accounts.ajax.increment_share_aura' %}" data-increment_rec_rewake_url="{% url 'accounts.ajax.increment_rec_rewake' %}" data-increment_rec_play_url="{% url 'accounts.ajax.increment_rec_play' %}" data-prepend_share_id="#wakeup-diary-box"></div>
    <div id="dashboard" onload="startTime();">
        <div id="dash-head" class="wakeup-box-shadow">
            <div id="dash-profile" class="inline">
                <div class="title">{{ other.profile.get_full_name_or_username }}</div>
                <a href="/accounts/{{ other.user.username }}/edit/"></a>
                <img id="profile-picture" class="wakeup-box-shadow" src="{{ other.profile.img_url }}"/>
                <div id="aura-points">Aura Points: {{ aura }}</div>
            </div>
            <div id="dash-stats" class="inline">
                <div id="dash-stats-title" class="title">WakeUp Stats</div>
                <table id="global-stats">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>WakeUps:</td>
                                    <td>{{ totalcalls }}</td>
                                </tr>
                                <tr>
                                    <td>Talk Time:</td>
                                    <td>{{ recordingduration }}</td>
                                </tr>
                                <tr>
                                    <td>Call Aura:</td>
                                    <td>{{ request.user.profile.reputation }}</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <div style="width:30px;"></div>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>Plays:</td>
                                    <td>{{ recordingplays }}</td>
                                </tr>
                                <tr>
                                    <td>Likes:</td>
                                    <td>{{ recordingaura }}</td>
                                </tr>
                                <tr>
                                    <td>Shares:</td>
                                    <td>{{ recordingaura }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div id="chart"></div>
            </div>
            <div id="dash-settings" class="inline tooltip alarm-tooltip" title="Click alarm time">
                <div id="dash-time"></div>
                <div class="title">Alarm:</div>
                <div id="public-dash-alarm" class="inline">Alarm: {{ other.profile.get_alarm_time }}</div>

                {% if not request.user.is_authenticated %}

                {% elif is_waiting %}
                    <div class="request" data-request_id="{{ reqid }}">
                        <div style="width:75%;float:left;text-align:left;">
                            <p><button class="accept_request btn_publish">Accept</button>
                                <button class="ignore_request btn_publish">Ignore</button></p>
                        </div>
                    </div>
                {% elif is_pending %}
                    <div id="add-contact">
                        <div id="contact-pending">Contact Pending</div>
                    </div>
                {% elif not is_contact %}
                    <div id="add-contact">
                        <button id="add-contact-button" class="btn_publish" data-other_username="{{ other.username }}" data-add_contact_url="{% url 'accounts.ajax.add_contact' %}">Add Contact</button>
                    </div>
                {% endif %}

            </div>
        </div>

        <div id="dash-body">
            <div id="contacts" class="dash-block wakeup-box-shadow" data-connect_gender_url="{% url 'accounts.ajax.connect_gender' %}" data-accept_request_url="{% url 'accounts.ajax.accept_request' %}" data-ignore_request_url="{% url 'accounts.ajax.ignore_request' %}">
                <div class="title">Contacts</div>
                <div id="contacts-box">
                    <div id="vactrack-buttons">
                        <a id="all_contacts_btn">All</a><a id="requests_btn">Requests ({{ request.user.profile.get_requests.count }})</a>
                    </div>
                    <div id="all_contacts">
                        {% for contact in other.profile.get_contacts reversed %}
                            {% include 'layouts/contact.html' with contact=contact %}
                        {% endfor %}
                    </div>
                    <div id="requests" style="display:none;height:400px;overflow-y:auto;overflow-x:hidden;padding-top:10px;">
                        {% for request in other.profile.get_requests reversed %}
                            {% include 'layouts/request.html' with request=request %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <style>
                #wakeup-diary {
                    width: 880px;
                }
                .share-body {
                    width: 670px;
                }
            </style>
            <div id="wakeup-diary" class="dash-block wakeup-box-shadow" data-insert_comment="{% url 'accounts.ajax.insert_comment' %}" data-increment_share_aura_url="{% url 'accounts.ajax.increment_share_aura' %}" data-increment_rec_rewake_url="{% url 'accounts.ajax.increment_rec_rewake' %}" data-increment_rec_play_url="{% url 'accounts.ajax.increment_rec_play' %}">
                <div class="title">{{ other.profile.get_full_name_or_username }}'s WakeUp Diary</div>
                <div id="wakeup-diary-box">
                    {% if not shares %}
                        <div id="no-shares">
                            <p>Oh, it seems that {{ other.profile.get_full_name_or_username }} hasn't shared any wake ups yet...</p>
                        </div>
                    {% else %}
                        {% for share in shares reversed %}
                            {% include 'layouts/recording-shares.html' with share=share %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            $("#chart").chart({
                template: "pie_basic_1",
                values: {
                    serie1: [{{ wokeup }}, {{ snoozed }}, {{ overslept }}]
                },
                labels: ["1", "2", "3"],
                legend: ["Woke Up", "Snoozed", "Over-slept"],
                tooltips: {
                    serie1: ["Woke Up:<br><strong>{{ wokeup }} times</strong>", "Snoozed:<br><strong>{{ snoozed }} times</strong>", "Over-slept:<br><strong>{{ overslept }} times</strong>"]
                },
                defaultSeries: {
                    values: [{
                        plotProps: {
                            fill: "green"
                        }
                    }, {
                        plotProps: {
                            fill: "blue"
                        }
                    }, {
                        plotProps: {
                            fill: "black"
                        }
                    }]
                }
            });

        });

        $.elycharts.templates['pie_basic_1'] = {
            type: "pie",
            defaultSeries: {
                plotProps: {
                    stroke: "white",
                    "stroke-width": 2,
                    opacity: 0.8
                },
                highlight: {
                    move: 5
                },
                tooltip: {
                    frameProps: {
                        opacity: 0.5
                    }
                },
                startAnimation: {
                    active: true,
                    type: "grow"
                }
            },
            features: {
                legend: {
                    horizontal: false,
                    width: 90,
                    height: 80,
                    x: 302,
                    y: 50,
                    borderProps: {
                        "fill-opacity": 0.3
                    }
                }
            }
        };
    </script>

{% endblock %}
