{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block dashboard %}
<link rel="stylesheet" type="text/css" href="/media/css/dashboard.css">

<div id="dashboard">
    <div id="dash-profile">
        <div id="profile-left">
            <img id="profile-picture" class="wakeup-box-shadow" src="/media/images/profile.jpg" {# src="{{ profile.get_mugshot_url }}  #}"/>
            <div id="time-now">17:21</div>
            <div id="profile-alarm">Alarm: 06:45</div>
            <div id="profile-quote">Welcome to my profile!</div>
        <div id="profile-right">
            <div id="profile-bio">
                <div id="profile-name">
                    Alejandro Saucedo
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
