{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2 xmlns="http://www.w3.org/1999/html">{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block dashboard %}
<link rel="stylesheet" type="text/css" href="/media/css/dashboard.css">

<div id="dashboard">
    <div id="dash-head" class="wakeup-box-shadow">
        <div class="title">Alejandro Saucedo</div>
        <img id="profile-picture" src="/media/images/profile.jpg"/>
    </div>

    <div id="dash-body">
        <div id="contacts" class="dash-block wakeup-box-shadow">
            <div class="title">Contacts</div>
            <div id="contacts-box">
            </div>
        </div>
        <div id="recordings" class="dash-block wakeup-box-shadow">
            <div class="title">Wake Up History</div>
            <div id="recordings-box">
            </div>
        </div>
    </div>
</div>
{% endblock %}
