{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2 xmlns="http://www.w3.org/1999/html">{{ profile.get_full_name_or_username |title }})</h2>{% endblock %}

{% block dashboard %}
<link rel="stylesheet" type="text/css" href="/media/css/dashboard.css">
<script type="text/javascript" src="/media/js/dashboard.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>

<div id="dashboard" onload="startTime();">
    <div id="dash-head" class="wakeup-box-shadow">
        <div id="dash-profile" class="inline">
            <div class="title">{{ name }}</div>
            <img id="profile-picture" class="wakeup-box-shadow" src="{{ profileurl }}"/>
            <div id="aura-points">Aura Points: {{ aura }}</div>
        </div>
        <div id="dash-stats" class="inline">
            <div id="dash-stats-title" class="title">WakeUp Stats</div>
            <table id="global-stats">
                <tr>
                    <td>Total WakeUps:</td>
                    <td>{{ totalcalls }}</td>
                </tr>
                <tr>
                    <td>Talk Time:</td>
                    <td>{{ recordingduration }}</td>
                </tr>
                <tr>
                    <td>Recording Plays:</td>
                    <td>{{ recordingplays }}</td>
                </tr>
                <tr>
                    <td>Recording Aura:</td>
                    <td>{{ recordingaura }}</td>
                </tr>
            </table>
            <div id="chart"></div>
        </div>
        <div id="dash-settings" class="inline">
            <div id="dash-time"></div>
            <div id="dash-alarm">Alarm: 06:00</div>
        </div>
    </div>

    <div id="dash-body">
        <div id="contacts" class="dash-block wakeup-box-shadow">
            <div class="title">Contacts</div>
            <div id="contacts-box">
            	<button>All</button><button>Requests</button>
            	<div id="all_contacts" style="height:400px;overflow-y:auto;overflow-x:hidden;">
            		{% for contact in request.user.profile.get_contacts %}
            			{% with contact_user=contact.contact %}
	            			<div class="contact">
	            				<div style="width:25%;float:left;">
	            					<a href="#"><img style="width:50px;" src="{{ contact_user.profile.img_url }}"></a>
	            				</div>
	            				<div style="width:75%;float:left;text-align:left;">
	            					<p>{{ contact_user.username }}</p>
	            					<p>Alarm: {% if contact_user.profile.alarmon %}ON{% else %}OFF{% endif %}</p>
	            				</div>
	            			</div>
            			{% endwith %}
            		{% endfor %}
            	</div>
            </div>
        </div>
        <div id="recordings" class="dash-block wakeup-box-shadow">
            <div class="title">My WakeUp Diary</div>
            <div id="recordings-box">
                {% for rec in recordings %}
                <div id="recording">
                    <div id="recording-info-section">
                        <img src="{{  }}">
                        <a class="inline">{{ rec.other.call.user.profile.get_full_name_or_username |title }}</a>
                        <div id="recording-date" class="inline">{{ rec.datecreated | date:"d/m/y" }}</div>
                        <div id="recording-rating" class="inline">Rating: {{ rec.rating }}</div>
                        <div id="recording-privacy" class="inline">{{ rec.privacy }}</div>
                    </div>
                    <div id="recording-audio-section" class="inline">
                        <audio controls id="recording-audio"  class="inline">
                            <source src="{{ rec.recordingurl }}" type="audio/x-wav">
                            Please use a Chrome or Firefox to listen to your recordings
                        </audio>
                        <div id="recording-data">
                            <a href="#"><img width="30px" height="30px" src="/media/icons/favourite-white.png"/></a>
                            <a href="#"><img width="30px" height="30px" src="/media/icons/like-white.png"/></a>
                            <a href="#"><img width="30px" height="30px" src="/media/icons/trash-white.png"/></a>
                        </div>
                    </div>
                    <div id="comments-section" class="inline">
                        Comments
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="badges" class="dash-block wakeup-box-shadow">
            <div class="title">Badges</div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $("#chart").chart({
            template: "pie_basic_1",
            values: {
                serie1: [{{ wokeup }}, {{ snoozed }}, {{ overslept }}]
            },
            labels: ["1", "2", "3"],
            legend: ["Woke Up", "Snoozed", "Over-slept"],
            tooltips: {
                serie1: ["Woke Up:<br><strong>66 times</strong>", "Snoozed:<br><strong>87 times</strong>", "Over-slept:<br><strong>10 times</strong>"]
            },
            defaultSeries: {
                values: [{
                    plotProps: {
                        fill: "green"
                    }
                }, {
                    plotProps: {
                        fill: "blue"
                    }
                }, {
                    plotProps: {
                        fill: "black"
                    }
                }]
            }
        });

    });

    $.elycharts.templates['pie_basic_1'] = {
        type: "pie",
        defaultSeries: {
            plotProps: {
                stroke: "white",
                "stroke-width": 2,
                opacity: 0.8
            },
            highlight: {
                move: 20
            },
            tooltip: {
                frameProps: {
                    opacity: 0.5
                }
            },
            startAnimation: {
                active: true,
                type: "grow"
            }
        },
        features: {
            legend: {
                horizontal: false,
                width: 90,
                height: 80,
                x: 282,
                y: 100,
                borderProps: {
                    "fill-opacity": 0.3
                }
            }
        }
    };


</script>
{% endblock %}
