{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    <h3>USA, Australia and UK numbers are now accepted!!</h3>
    <p style="font-family: Helvetica; font-size: .5em;">If you don't have a number from these countries, but still would like to try out WakeUpRoulette
        send us an email at <a href="mailito:wakeuproulette@gmail.com">wakeuproulette@gmail.com</a> and we'll do our best to get you on board!!</p>
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'tos' %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
    </p>
    {% else %}
    <p>
    {{ field.label_tag }}
    {% if field.name == 'date_of_birth' %}
		<input id="id_date_of_birth" name="date_of_birth" placeholder="dd/mm/yyyy" type="text" value="{% if field.value %}{{ field.value }}{% endif %}" />
    {% elif field.name == 'phone' %}
        <input class="required" id="id_phone" maxlength="12" name="phone" type="text" value="{% if field.value %}{{ field.value }}{% endif %}" />
        <h3>Accepted phone formats:</h3>
        <ul><li>USA: +1XXXXXXXXXX</li></ul>
        <ul><li>Australia: +61XXXXXXXXX</li></ul>
        <ul><li>UK: +44XXXXXXXXXX</li></ul>
    {% else %}
    	{{ field }}
    {% endif %}
    </p>
    {% endif %}
    {% endfor %}
  </fieldset>
  <input type="submit" value="{% trans "Signup"%}" />
</form>
{% endblock %}
